@import url('https://fonts.googleapis.com/css?family=Alegreya&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,700');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
*{
  box-sizing: border-box;
}
body {
    background-color: rgba(241, 241, 235, 0.959);
    padding: 20px;
    margin: 0;
    font-family: 'Alegreya', serif;
    font-size: 16px;
    
  }
  h1, h2, p, ul, li {
    font-family: 'Alegreya', serif;
  }
  ul.header li {
    display: inline;
    list-style-type: none;
    margin: 0;
  }
  ul.header {
    padding: 0;
    margin: 0;
  }
  .logo {
    display:block;
    margin:auto;
  }
  .fondo {
    display:block;
    margin:auto;
  }
  ul.header li a {
    color: rgb(185, 34, 34);
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    display: inline-block;
    font-size: 20px;
  }
  .content {
    background-color: #FFF;
    padding: 10px;
  }
  .content h2 {
    padding: 0;
    margin: 0;
  }
  .content li {
    margin-bottom: 10px;
  }
  .active {
    background-color: rgb(253, 251, 251);
  }

/*Card*/
.conteiner{
  display: inline-block;
  width: 700px;
  padding: 5px 40px;
}
.card {
  width: 270px;
  color: rgb(243, 235, 235);
  text-align: center;
  font-size: 12px;
  font-weight: 300px;
  border-bottom: 1px solid rgb(240, 232, 232);
  background-color: #FFEBEE;
  padding: 5px 10px;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  cursor: pointer;
  }
  .cardImg {
    font-size: 36px;
    color: rgb(235, 228, 228);
    margin-bottom: 5px;
    width: 250px;
    height: 170px;
  }
  .cardContent {
    color: rgb(252, 244, 244);
    font-size: 12px;
    text-align: center;
  }
  .inputClient[type=text] {
    border: 2px solid red;
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
  }
/*Botones*/
.button {
  background-color: rgba(221, 9, 73, 0.979);
  border: none;
  color: white;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.button:hover {
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911',GradientType=0);
	background-color:#ff6106;
}
.button:active {
	position:relative;
	top:1px;
}
